.block-page-header{
    width: 90%;
    margin: 0 auto;
}
.block-details-header{
    margin-bottom: 2vh;
}
.details-back{
    font-size: 18px;
}
.box-slide{
    display: flex;
    overflow: scroll;
}
.box-slide::-webkit-scrollbar { 
    width: 0px;  
}
.details-coin{
    display: flex;
    align-items: center;
    margin-bottom: 5vh;
}
.details-coin-name__abbr,
.details-coin-total__quantity{
    font-size: 22px;
}
.details-coin-name__full,
.details-info-changes__percent{
    font-size: 14px;
    color: #a8acb7;
}
.details-info-changes__percent{
    color: #12d382;
}
.box-time-btns{
    margin-bottom: 20px;
}
.time-btn{
    width: 75px;
    background: none;
    border: none;
    border-radius: 3px;
    color: #9c9da2;
    padding: 5px 0;
    cursor: pointer;
}
.time-btn:hover{
    opacity: 0.8;
}
.time-btn-active{
    background-color: rgba(158, 158, 158, 0.2);
    color: #ececee;
}

.balance__changes_up, .balance__changes_up .fas{
    color: #12d382;
}
.balance__changes_down, .balance__changes_down .fas{
    color: #ff7875;
}