.block-page-header{
    width: 90%;
    margin: 0 auto;
}
.block-main-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}
.header-icon{
    color: #fff;
    font-size: 18px;
}
.block-balance{
    text-align: center;
    margin-bottom: 4vh;
}
.balance__title{
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.05em;
    margin-bottom: 1vh;
    color: #9c9da2;
}
.balance__total{
    font-size: 40px;
    position: relative;
    display: inline;
}
.balance__icon{
    font-size: 20px;
    margin-right: 7px;
    position: absolute;
    top: 6px;
    left: -14px;
}
.balance__change-text{
    font-size: 15px;
    margin-top: 15px;
    color: #9c9da2;
}
.balance__changes{
    margin-top: 5px;
    font-size: 15px;
}
.balance__changes .fas{
    font-size: 11px;
}
