*{
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.block-main{
    background-color: #272733;
    min-height: 100vh;
    padding: 30px 0;
    background: linear-gradient(-30deg, #20202c, #414350);
}
.block-wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 690px;
}

.warning{
    text-align: center;
    color: #272733;
    margin-top: 40vh;
}







